body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #6F6F6D;
    padding-top: 2%;
    width: 100%;
    padding-bottom: 0%;
    box-shadow: white;
    position: fixed;
}

.left_area img{
  margin-top: -15px;
  width: 120px;
  height: 50px;
  margin-bottom: 2%;
  margin-left: 7%;
}

.right_area a{
  text-decoration: none;
  font-size: 16px;
  color: black;
  margin-left: 85%;
}


.right_area a:hover{
  color: black;
}


.sidebar{
    margin-top: 74.5px;
    background: #B7B6B5;
    margin-left: -26px;
    padding-top: 30px;
    position: fixed;
    width: 250px;
    height: 100%;
}

.sidebar span{
    margin-right: 10px;
}

.sidebar img{
    margin-top: -6px;
    width: 15px;
    height: 15px;
}

.sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h5{
    color: #B7B6B5;
    margin-bottom: 10px;
    font-size: 14px;
}

.sidebar hr{
    width: 200px;
}

.sidebar a{
    color: black;
    display: block;
    text-decoration: none;
    line-height: 37px;
    padding-left: 50px;
    font-size: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover{
    background: #B7B6B5;
    text-decoration: none;
    color: #fff;
}

.sidebar p{
    color: #B7B6B5;
    display: block;
    line-height: 20px;
    padding-left: 50px;
    font-size: 13px;
}

.table_area{
    margin-left: 18.5%;
    margin-top: 30%;
    width: 80%;
    height: 50%;
    position: absolute;
}

.table_area h3{
    font-size: 23px;
    margin-top: 25px;
    color: black;
}


.table_area a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
}

.table_area a:hover{
    text-decoration: none;
    color: black;
}

.add_btn{
    margin-left: -13px;
    width: 13%;
}

.table_container{
  margin-top: 5%;
  margin-left: 0%;
  width: 78%;
  position: fixed;
}

.table_container input{
    margin-left: 70%;
    margin-right: 1%;
    margin-top: -35px;
    margin-bottom: 20px;
    height: 25px;
    width: 30%;
}

.table_area img{
    margin-top: -9px;
    width: 15px;
    height: 20px;
}


table
{
    margin-top: 10px;
	  width: 100%;
	  border-collapse: collapse;
    text-align: left;
    box-shadow: 0 0 10px rgba(99, 95, 95, 0.6);

}

thead{
    background-color: #6F6F6D;
}

th{
  text-align: center;
	font-size: 15px;
	height: 32px;
    color: #fff;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

td{
	height: 30px;
    font-size: 15px;
    background-color: white;
    text-align: center;
}


.table_btn{
    line-height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 35%;
    width: 50px;
    color: #B7B6B5;
}


.modal_add_book input{
  margin-top: 10px;
  margin-bottom: 10px;
}


.modal_delete_book p{
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
}


.modal_delete_patron p{
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
}

.modal_head{
  color: white;
  background-color: #B7B6B5;
}