<template id="sidebar">
    <div>
        <div class="header">
                <h5>Library Management System</h5>
            
        </div>
        <div class="sidebar">
            <a href="dashboard.vue">
            <button class="btn" style="background-color: grey; color: black; padding-right: 70px; width: 180px; height: 35px; font-size: 14px; margin-top: 40px; " > 
            <font-awesome-icon icon="chart-bar" style="color: white; font-size: 20px; margin-right:5px; "/>Dashboard  
            </button></a>
             <a href="patron.vue">
             <button class="btn" style="background-color:grey; color: black; width: 180px; height: 35px; font-size: 14px; margin-top: 10px;" > 
           <font-awesome-icon icon="user"  style="color: white; font-size: 20px; margin-right:3px;"/> Patron Management
            </button></a>
             <a href="Book.vue">
             <button class="btn" style="background-color: grey; padding-right:22px; color:black; width: 180px; height: 35px; font-size: 14px; margin-top: 10px;" > 
           <font-awesome-icon icon="layer-group"  style="color: white;font-size: 20px; margin-right:1px;"/> &nbsp; &nbsp;Book Management
            </button></a>
             <a href="setting.vue">
             <button class="btn" style="background-color: grey; padding-right: 95px; color: black;  width: 180px; height: 35px; font-size: 14px; margin-top: 10px;" > 
             <font-awesome-icon icon="cog" style="color: white;font-size: 20px; margin-right:1px;"/>Setting
            </button></a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Sidebar'
}
</script>

<style scoped>
.header a{
    color: red;
    font-size: 28px;
    text-shadow: yellow;
}

.sidebar h2{
    color:black;
    font-size: 16px;
    margin:20px;
   
}

</style>