<template>
    <chartjs-bar v-bind:labels="labels" v-bind:datasets="datasets" v-bind:option="option"></chartjs-bar>
</template>
<script>
export default {
    name: 'Bar', 
    data(){
    return{
        labels:['March', 'April', 'May', 'June', 'July'],
        datasets:[
            {
                label:["Borrowed Book"],
                data:[350, 400, 200, 0, 0,],
                backgroundColor:"blue"
            },
            {
                
                label:["Returned Book"],
                data:[600, 560, 400, 350, 650],
                backgroundColor:"green"
            },
        ],
        option:{
            title:{
                display:true,
                position:"top",
                text:"Borrowed and Returned Books"
            },
            legend:{
                display:true,
            }
        }
    };
}
}
</script>