<template id="dashboard">

    <div>
        <Sidebar/>

        <div class="dashboard_container" >
            <h3>DASHBOARD</h3>
            <hr>
            <div class="table_container_for_dashboard">
                <div class="row">
                    <div class="col-md-6">
                        <div class="chart_container">
                            <Bar/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="chart_container">
                            <Doughnut/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import Sidebar from './components/sidebar.vue'
import Doughnut from './doughnut.vue'
import Bar from './bar.vue'

export default {
    name: 'Dashboard',
    components: {
        Sidebar,
        Doughnut,
        Bar
    }
}
 
</script>


<style scoped>
.dashboard_container h3{
    color:black;
    margin-top:20px;
}

</style>