<template>
    <chartjs-doughnut v-bind:labels="labels" v-bind:datasets="datasets" v-bind:option="option"></chartjs-doughnut>
</template>
<script>
export default {
    name:'Doughnut',
    data(){
        return{
            labels:['Fantasy', 'Drama','Love Story', 'Action', 'Adventure'],
            datasets:[
                {
                data:[90, 60, 46, 40, 20],
                backgroundColor:['darkblue', 'grey', 'grey', 'blue','green']
            }
            ],
            option:{
                title:{
                    display:true,
                    position:"top",
                    text:"Most Popular Genre"
                }
            }
        };
    }
}
</script>